<footer>
  <div class="wrapper">
    <ul>
      <li>Webpage by Sophie Yuill,
        <a href="https://taylorandfrancis.com/">Taylor & Francis</a>
      </li>
      <li>Photos by
        <a href="https://unsplash.com/photos/gE1phX0Lbos">Unsplash</a>
      </li>
      <li>
        A <a href="https://generalproducts.co">General Products Ltd</a> initiative
      </li>
      <li><a href="https://2019.dayofcode.co.uk/">Day of Code</a>, in partnership with <a href="https://www.thebookseller.com/futurebook-conference">FutureBook</a></li>
    </ul>
    <ul>
      <li>With thanks to our gold sponsors:</li>
      <li>
        <a href="https://consonance.app">Consonance</a>
      </li>
      <li>
        <a href="https://www.hachette.co.uk/">Hachette UK</a>
      </li>
      <li>
        <a href="hhttps://www.nielsen.com/uk/en/">Nielsen</a>
      </li>
      <li>
        <a href="https://www.thebookseller.com/">The Bookseller</a>
      </li>
    </ul>
  </div>
</footer>
